<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="newstyle.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
     <!-- ======= Hero Section ======= -->
        <header>
            <nav>
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    <div class="topnav" style="display: flex; justify-content: space-between;">
                        <img src="img/logo.svg" width="150" alt="" style="margin: 15px 15px;">
                        <div>
                            <a  href="about.html">About Us</a>
                            <a href="{{url_for("investor")}}">Investors</a>
                            <a href="#">Blog</a>
                            <a href="product.html">Products</a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>  
                        </div> 
                    </div>
                    <button style="padding: 16px 13px; border: none; background: #ff4a17; color: #fff; font-weight: 700; border-radius: 6px;">Contacts</button>
                </div>

            </nav>
        </header>
        <section id="hero" style="background-image: url(img/pic8.jpg); height: 60vh;">
            
            <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
                <div class="row">

                    <div class="col-md-10">
                        <div style="display: flex; align-items: center; margin-bottom: 2vh;">
                            <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #fff;"></div>
                            <div class="text" style="color: #fff;">ABOUT US</div>
                        </div>
                        <h1>The mission and story <br> behind the farm</h1>
                    </div>
                </div>
            </div>
        </section><!-- End Hero -->

        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3" style="padding: 20px;">
                        <div class="card" style="margin: 8px 8px;">
                            <div class="card-body">
                            <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                <h4>100% Organic</h4>
                                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 20px;">
                        <div class="card" style="margin: 8px 8px;">
                            <div class="card-body">
                            <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                <h4>Animal care</h4>
                                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 20px;">
                        <div class="card" style="margin: 8px 8px;">
                            <div class="card-body">
                            <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                <h4>Locally grown</h4>
                                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 20px;">
                        <div class="card" style="margin: 8px 8px;">
                            <div class="card-body">
                            <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                <h4>No pesticides</h4>
                                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section style="margin: 10vh 0;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ff4a17;"></div>
                <div class="text" style="color: #ff4a17;">ABOUT US</div>
                <div class="line" style="width: 40px; height: 3px; margin-left: 12px; background-color: #ff4a17;"></div> 
            </div>
            <div class="text-center" style="color: #333;">
                <h2 style="padding-top: 1vh; font-size: 32px; font-weight: 700; margin-bottom: 3vh;">Organic food from the ground <br> to your table</h2>
                <h5>Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. Sed commodi quo</h5>
            </div>
        </section>

        <section style="margin: 10vh 0;">
            <div class="container-fluid">
               <div class="row">
                <div class="col-md-4">
                    <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/pic7.jpeg); background-size: cover; padding: 90px 20px 40px 20px;">
                        <div style="color: #fff;">
                            <h2>Gathering</h2>
                            <h4>Variations of animal that roam free on farm</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/pic4.jpeg); background-size: cover; padding: 90px 20px 40px 20px; ">
                        <div style="color: #fff;">
                            <h2>Vegetables</h2>
                            <h4>Organic vegetables full of vitamins & fibre</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/pic5.jpeg); background-size: cover; padding: 90px 20px 40px 20px;">
                        <div style="color: #fff;">
                            <h2>Fruits</h2>
                            <h4>Organic juicy fruits you've never tasted before</h4>
                        </div>
                    </div>
                </div>
               </div> 
            </div>
        </section>
        <section style="margin: 10vh 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                            <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ff4a17;"></div>
                            <div class="text">Good for our planet</div>
                        </div>
                        <h2 style="font-size: 34px; margin-bottom: 3vh;">Keeping food supply safe and stable</h2>
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aut delectus voluptates sapiente tempora, laborum quos eum, possimus iure perspiciatis, </h4>
                    </div>
                    <div class="col-md-6">
                        <img src="img/pic9.jpg" alt="" width="100%" style="height: 350px; object-fit: cover;">
                    </div>
                </div>
            </div>
        </section>

        <section style="margin: 10vh 3vw; height: 90%;" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" >
                        <div class="row">

                            <div class="col-md-6">
                                <div class="card" style="margin: 8px 8px;">
                                    <div class="card-body">
                                        <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                        <h4>450+</h4>
                                        <h6>Different fruits & vegetables  for every season</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="margin: 8px 8px;">
                                    <div class="card-body">
                                        <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                        <h4>25+</h4>
                                        <h6>Variations of animals that roam free on the farm</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="margin: 8px 8px;">
                                    <div class="card-body">
                                        <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                        <h4>10</h4>
                                        <h6>Hectare of land where we grow our organic products on</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="margin: 8px 8px;">
                                    <div class="card-body">
                                        <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                        <h4>6000+</h4>
                                        <h6>Customers that visit our farm and buy our products</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-image: url(img/pic10.jpg); background-size: cover;">
                        
                    </div>
                </div>
            </div>
        </section>

        <section style="margin: 10vh 0;">
            <div class="container">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ff4a17;"></div>
                    <div class="text" style="color: #ff4a17;">our team</div>
                    <div class="line" style="width: 40px; height: 3px; margin-left: 12px; background-color: #ff4a17;"></div> 
                </div>
                <div class="text-center" style="color: #333;">
                    <h2 style="padding-top: 1vh; font-size: 32px; font-weight: 700; margin-bottom: 3vh;">Our team of experts farmers</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/pic11.jpg); background-size: cover; padding: 90px 20px 40px 20px;">
                            <div style="color: #fff; padding-top: 10vh; margin-bottom: 0;">
                                <h5 style="font-weight: 700;">Darline Fisher</h5>
                                <h6>Founder of Harvest</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/pic12.jpg); background-size: cover; padding: 90px 20px 40px 20px; ">
                            <div style="color: #fff; padding-top: 10vh;">
                                <h5 style="font-weight: 700;">Devon Smith</h5>
                                <h6>Founder of Harvest</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/pic13.jpg); background-size: cover; padding: 90px 20px 40px 20px;">
                            <div style="color: #fff; padding-top: 10vh;">
                                <h5 style="font-weight: 700;">Robert Miles</h5>
                                <h6>Founder of Harvest</h6>
                            </div>
                        </div>
                    </div>
                   </div>
            </div>
        </section>
        
        <section>
            <div class="container-fluid" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/pic6.jpg); background-size: auto, cover; background-repeat: repeat, no-repeat; text-align: center; height: 65vh; padding: 15vh auto;">
                <div class="text-center" style="color: #fff;">
                    <h2 style="padding-top: 15vh; font-size: 32px; font-weight: 700; margin-bottom: 3vh;">Visit our farm and explore all kinds of <br> vegetables & fruits</h2>
                    <h5>Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. Sed commodi quo</h5>
                    <button class="pill-button" style="margin-top: 3vh;">Contact Us</button>
                </div>
            </div>
        </section>
        <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <!-- <h6>About</h6> -->
              <img src="img/logo.svg" alt="">
              <p class="text-justify" style="margin-top: 2vh;">HARVEST Farm is family-owned and operated, growing high quality hops, produce, and pasture-raised meats.</p>
            </div>
  
            <div class="col-xs-4 col-md-2">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="">Our farm</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
            
            <div class="col-xs-4 col-md-2">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li><a href="">Styleguide</a></li>
                  <li><a href="">Changelog</a></li>
                  <li><a href="">Licensing</a></li>
                </ul>
              </div>
              
            <div class="col-xs-4 col-md-2">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Contribute</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#" style="color: #ff4a17; font-weight: 700;">PrestoSolutions</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>