<!-- <!doctype html>
<html lang="en">
  <head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{url_for("static", filename="css/newstyle.css")}}">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      

        <header>
            <nav>
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    <div class="topnav" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/logo.svg" width="150" alt="" style="margin: 15px 15px;">
                        <div>
                            <a href="about.html">About Us</a>
                            <a href="{{url_for("investor")}}">Investors</a>
                            <a href="#">Blog</a>
                            <a href="product.html">Products</a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>  
                        </div> 
                    </div>
                    <button style="padding: 16px 13px; border: none; background: #ff4a17; color: #fff; font-weight: 700; border-radius: 6px;">Contacts</button>
                </div>
               
            </nav>
        </header> -->

        {% extends "layout.html" %}

        {% block body %}

        <section id="hero" style="background-image: url(../static/img/hero2.jpg);">
            
            <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
                <div class="row">

                    <div class="col-md-10">
                        <h1>Only organic and free <br> range products</h1>
                        <h2>HARVEST Farm is family-owned and operated, growing high quality hops, produce, and pasture-raised meats</h2>
                    </div>
                </div>
            
                <div class="d-flex">
                    <a href="{{url_for("investor")}}" class="btn">INVEST IN A FARM</a>
                    
                    <a href="{{url_for("product")}}" class="btn" style="margin-left: 15px;"><span>OUR PRODUCTS</span></a>
                </div>
            </div>
        </section><!-- End Hero -->
        <section style="margin: 10vh 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="card" style="margin: 8px 8px;">
                                    <div class="card-body">
                                        <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                        <h4>450+</h4>
                                        <h6>Different fruits & vegetables  for every season</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="margin: 8px 8px;">
                                    <div class="card-body">
                                        <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                        <h4>450+</h4>
                                        <h6>Different fruits & vegetables  for every season</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="margin: 8px 8px;">
                                    <div class="card-body">
                                        <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                        <h4>450+</h4>
                                        <h6>Different fruits & vegetables  for every season</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="margin: 8px 8px;">
                                    <div class="card-body">
                                        <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                        <h4>450+</h4>
                                        <h6>Different fruits & vegetables  for every season</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div style="margin-top: 10vh;">
                            <div style="display: flex; align-items: center;">
                                <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ff4a17;"></div>
                                <div class="text">Who we are</div>
                            </div>
                            <!-- <h4 style="color: #ff4a17; padding: 5px 5px; letter-spacing: 1px;">WHO WE ARE</h4> -->
                            <h2 style="margin: 1vh;">We started as a cow farm in 1980</h2>
                            <h4 style="letter-spacing: 1px; margin: 1vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis adipisci quae distinctio ratione explicabo quia quibusdam autem tenetur iusto minus vero sit consectetur officia nobis praesentium,</h4>  
                            <!-- <button style="margin: 1vh; background: #ff4a17; border: none; padding: 14px 16px; border: 6px;"><a href="" class="btn" style="color: #fff; font-size: 18px;">About Us</a></button>   -->
                            <button class="pill-button">About Us</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="margin: 10vh 0;">
            <div class="container-fluid">
               <div class="row">
                <div class="col-md-4">
                    <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../static/img/pic7.jpeg); background-size: cover; padding: 90px 20px 40px 20px;">
                        <div style="color: #fff;">
                            <h2>Gathering</h2>
                            <h4>Variations of animal that roam free on farm</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../static/img/pic4.jpeg); background-size: cover; padding: 90px 20px 40px 20px; ">
                        <div style="color: #fff;">
                            <h2>Gathering</h2>
                            <h4>Variations of animal that roam free on farm</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../static/img/pic5.jpeg); background-size: cover; padding: 90px 20px 40px 20px;">
                        <div style="color: #fff;">
                            <h2>Gathering</h2>
                            <h4>Variations of animal that roam free on farm</h4>
                        </div>
                    </div>
                </div>
               </div> 
            </div>
        </section>

        <section style="margin: 10vh 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                            <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ff4a17;"></div>
                            <div class="text">Story behind the farm</div>
                        </div>
                        <h2 style="font-size: 34px; margin-bottom: 3vh;">Farming for today and the future</h2>
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aut delectus voluptates sapiente tempora, laborum quos eum, possimus iure perspiciatis, </h4>
                        <button class="pill-button">Our Farm</button>
                    </div>
                    <div class="col-md-6">
                        <img src="../static/img/pic2.jpg" alt="" width="100%" style="height: 350px; object-fit: cover;">
                    </div>
                </div>
            </div>
        </section>

        <section style="margin: 10vh 3vw; height: 90%;" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" style="background: #ff4a17; height: 60vh; align-items: center; justify-content: center; padding: 12vh 3vw;">
                        <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                            <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #fff;"></div>
                            <div class="text" style="color: #fff;">What we do </div>
                        </div>
                        <h2 style="font-size: 32px; margin-bottom: 3vh; color: #fff;">Our produce is grown naturally, with sustainable, organic principles.</h2>
                        <h5 style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aut delectus voluptates sapiente tempora, laborum quos eum, possimus iure perspiciatis, </h5>
                    </div>
                    <div class="col-md-6" style="background-image: url(../static/img/pic3.jpg); background-size: cover;">
                        
                    </div>
                </div>
            </div>
        </section>
        <section style="margin: 10vh 0;">
            <div class="container">
                <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                    <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ff4a17;"></div>
                    <div class="text" style="color: #ff4a17;">What we stand for</div>
                </div>
                <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 3vh;">
                    <h2 style="font-size: 34px; margin-bottom: 3vh; color: #333;">What we grow, plus a whole <br> lot more!</h2>
                    <button class="pill-button">Products</button>
                </div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="card" style="margin: 8px 8px;">
                            <div class="card-body">
                                <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                <h4>450+</h4>
                                <h6>Different fruits & vegetables  for every season</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="margin: 8px 8px;">
                            <div class="card-body">
                                <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                <h4>450+</h4>
                                <h6>Different fruits & vegetables  for every season</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="margin: 8px 8px;">
                            <div class="card-body">
                                <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                <h4>450+</h4>
                                <h6>Different fruits & vegetables  for every season</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="margin: 8px 8px;">
                            <div class="card-body">
                                <div class="icon" style="width: 50px; height: 50px; background: #ff4a17; margin-bottom: 15px;"></div>
                                <h4>450+</h4>
                                <h6>Different fruits & vegetables  for every season</h6>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <section>
            <div class="container-fluid" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../static/img/pic6.jpg); background-size: auto, cover; background-repeat: repeat, no-repeat; text-align: center; height: 65vh; padding: 15vh auto;">
                <div class="text-center" style="color: #fff;">
                    <h2 style="padding-top: 15vh; font-size: 32px; font-weight: 700; margin-bottom: 3vh;">Visit our farm and explore all kinds of <br> vegetables & fruits</h2>
                    <h5>Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. Sed commodi quo</h5>
                    <button class="pill-button" style="margin-top: 3vh;">Contact Us</button>
                </div>
            </div>
        </section>
        <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <!-- <h6>About</h6> -->
              <img src="../static/img/logo.svg" alt="">
              <p class="text-justify" style="margin-top: 2vh;">HARVEST Farm is family-owned and operated, growing high quality hops, produce, and pasture-raised meats.</p>
            </div>
  
            <div class="col-xs-4 col-md-2">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="">Our farm</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
            
            <div class="col-xs-4 col-md-2">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li><a href="">Styleguide</a></li>
                  <li><a href="">Changelog</a></li>
                  <li><a href="">Licensing</a></li>
                </ul>
              </div>
              
            <div class="col-xs-4 col-md-2">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Contribute</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#" style="color: #546a40; font-weight: 700;">PrestoSolutions</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>