<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for("static", filename="css/newstyle.css")}}">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
     <!-- ======= Hero Section ======= -->
        <header>
            <nav>
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    <div class="topnav" style="display: flex; justify-content: space-between;">
                        <img src="../static/img/logo.svg" width="150" alt="" style="margin: 15px 15px;">
                        <div>
                            <a  href="about.html">About Us</a>
                            <a href="investor.html">Investors</a>
                            <a href="#">Blog</a>
                            <a href="product.html">Products</a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>  
                        </div> 
                    </div>
                    <button style="padding: 16px 13px; border: none; background: #ff4a17; color: #fff; font-weight: 700; border-radius: 6px;">Contacts</button>
                </div>
               
            </nav>
        </header>
        <section id="hero" style="background-image: url(../static/img/pic14.jpg); height: 60vh;">
            
            <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
                <div class="row">

                    <div class="col-md-10">
                        <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                            <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #fff;"></div>
                            <div class="text" style="color: #fff;">Products</div>
                        </div>
                        <h1>High quality products <br> locally grown</h1>
                        <div class="row" style="margin-top: 2vh;">
                            <div class="col-md-4">
                                <div class="d-flex justify-content-between" style="border-bottom: 2px solid #fff;">
                                    <h4 style="color: #fff; font-weight: 500;">Fruits</h4>
                                    <div class="icon" style="width: 30px; height: 30px; background: #ff4a17; margin-bottom: 15px;"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="d-flex justify-content-between" style="border-bottom: 2px solid #fff;">
                                    <h4 style="color: #fff; font-weight: 500;">Vegetables</h4>
                                    <div class="icon" style="width: 30px; height: 30px; background: #ff4a17; margin-bottom: 15px;"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="d-flex justify-content-between" style="border-bottom: 2px solid #fff;">
                                    <h4 style="color: #fff; font-weight: 500;">Gathering</h4>
                                    <div class="icon" style="width: 30px; height: 30px; background: #ff4a17; margin-bottom: 15px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero -->
        
        <section style="margin: 10vh 0;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #ff4a17;"></div>
                <div class="text" style="color: #ff4a17;">Explore our product</div>
                <div class="line" style="width: 40px; height: 3px; margin-left: 12px; background-color: #ff4a17;"></div> 
            </div>
            <div class="text-center" style="color: #333;">
                <h2 style="padding-top: 1vh; font-size: 32px; font-weight: 700; margin-bottom: 3vh;">Our Store</h2>
            </div>
            
            <div class="row">
                <div class="col-md-6" style="background: #546a40; height: 40vh; align-items: center; justify-content: center; padding: 12vh 10vw;">
                    <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                        <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #fff;"></div>
                        <div class="text" style="color: #fff;">Fresh  and Juicy </div>
                    </div>
                    <h2 style="font-size: 32px; margin-bottom: 3vh; color: #fff;">Fruits</h2>
                </div>
                <div class="col-md-6" style="background-image: url(../static/img/pic5.jpeg); background-size: cover;">
                    
                </div>
            </div>
        </section>

        <section style="margin: 10vh 0;">
            <div class="container">
               <div class="row">
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic15.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="font-weight: 500;">
                                <h4>Oranges</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$4.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic16.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="font-weight: 500;">
                                <h4>Raspberries</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$8.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic17.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h4 style="font-weight: 500;">Green Apple</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$5.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </section>


        <div class="row">
            <div class="col-md-6" style="background: #546a40; height: 40vh; align-items: center; justify-content: center; padding: 12vh 10vw;">
                <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                    <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #fff;"></div>
                    <div class="text" style="color: #fff;">SAVOURY & CRUNCHY </div>
                </div>
                <h2 style="font-size: 32px; margin-bottom: 3vh; color: #fff;">Vegetables</h2>
            </div>
            <div class="col-md-6" style="background-image: url(../static/img/pic4.jpeg); background-size: cover;">
                
            </div>
        </div>
        <section style="margin: 10vh 0;">
            <div class="container">
               <div class="row">
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic21.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="font-weight: 500;">
                                <h4>Paprika</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$4.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic22.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="font-weight: 500;">
                                <h4>Cauliflower</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$8.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic23.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h4 style="font-weight: 500;">Cucumber</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$5.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </section>
        
        <div class="row">
            <div class="col-md-6" style="background: #546a40; height: 40vh; align-items: center; justify-content: center; padding: 12vh 10vw;">
                <div style="display: flex; align-items: center; margin-bottom: 3vh;">
                    <div class="line" style="width: 40px; height: 3px; margin-right: 12px; background-color: #fff;"></div>
                    <div class="text" style="color: #fff;">FREE RANGE NATURAL </div>
                </div>
                <h2 style="font-size: 32px; margin-bottom: 3vh; color: #fff;">Gathering</h2>
            </div>
            <div class="col-md-6" style="background-image: url(../static/img/pic7.jpeg); background-size: cover;">
                
            </div>
        </div>
        <section style="margin: 10vh 0;">
            <div class="container">
               <div class="row">
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic18.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="font-weight: 500;">
                                <h4>Eggs</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$4.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic19.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="font-weight: 500;">
                                <h4>Cheese</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$8.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="border-radius: 0 0 30px 0;">
                        <img class="card-img-top" src="../static/img/pic20.jpeg" alt="Card image cap" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h4 style="font-weight: 500;">Milk</h4>
                                <div class="line" style="border-right: 2px solid #ff4a17; height: 30px;"></div>
                                <h5>$5.00 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </section>
        
        <section>
            <div class="container-fluid" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../static/img/pic6.jpg); background-size: auto, cover; background-repeat: repeat, no-repeat; text-align: center; height: 65vh; padding: 15vh auto;">
                <div class="text-center" style="color: #fff;">
                    <h2 style="padding-top: 15vh; font-size: 32px; font-weight: 700; margin-bottom: 3vh;">Visit our farm and explore all kinds of <br> vegetables & fruits</h2>
                    <h5>Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. Sed commodi quo</h5>
                    <button class="pill-button" style="margin-top: 3vh;">Contact Us</button>
                </div>
            </div>
        </section>
        <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <!-- <h6>About</h6> -->
              <img src="../static/img/logo.svg" alt="">
              <p class="text-justify" style="margin-top: 2vh;">HARVEST Farm is family-owned and operated, growing high quality hops, produce, and pasture-raised meats.</p>
            </div>
  
            <div class="col-xs-4 col-md-2">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="">Our farm</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
            
            <div class="col-xs-4 col-md-2">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li><a href="">Styleguide</a></li>
                  <li><a href="">Changelog</a></li>
                  <li><a href="">Licensing</a></li>
                </ul>
              </div>
              
            <div class="col-xs-4 col-md-2">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Contribute</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#" style="color: #546a40; font-weight: 700;">PrestoSolutions</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>